body {
  font-family: "Vazirmatn", sans-serif;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  direction: rtl;
}

.container {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

h1 {
  margin-bottom: 1rem;
  color: #333;
}

input,
select,
button {
  width: 80%;
  margin: 0.5rem 0;
  padding: 0.7rem;
  border: 3px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

#result {
  margin-top: 1rem;
  font-weight: bold;
  color: #555;
}
